* { margin: 0px ;}

body {
    background-color: #080808;
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    height: 90%;
}

.background {
    position: absolute;
        top: 10; bottom: 0; left: 0; right: 0;
        height: 90%;
    margin:0;
    padding:0;
    background-size: 100% ;
    width:100%;  
    color:black;
}

.background:before {
    content: "";
    position: fixed;
    height: 90%; width: 100%;
    background: url("../img/background.png");
    background-size: cover;
    z-index: -1;    
    -webkit-filter: blur(2px);
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    opacity: 0.8;
}

@font-face { 
    font-family: 'BebasKai-Regular';    
    src:url('../font/BebasKai-Regular.otf');
}

p {
    font-family: 'BebasKai-Regular';
    font-size: 1.3em;
    color: #AEAEAE;
}

h1 {
    font-family: 'BebasKai-Regular';
    font-size: 3.8em;
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    height: 10%;
}

header div { 
    width: 33%;
}

div.tittle {
    display: flex;
    justify-self: center;
}

div.choose {
    display: flex;
}

div.choose a {
    margin-left: 1em;
}

div.choose p:hover {
    color: #ffff;
}

.selected {
    color: #ffff;
}

header a {
    text-decoration: none;
}

div.tittle {
    justify-content: center;
}

header h1 {
    align-self: center;
    justify-items: center;
}

main section.accueil {
    display: flex;
    justify-content: center;
    height: 65%;
    width: 100%;
}

section.accueil a {
    height: 100%;
    width: 60em;
    margin: 0 50px 0 50px;
    z-index: 1;   
    display: inline-block;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

section.accueil a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

a.tattoo {
    background-image: url("../img/rosettetattoo2.jpg");
    background-size: cover;
    background-position: 0% 52%;
    background-repeat: no-repeat;
}

a.flash {
    background-image: url("../img/saintflash.png");
    background-size: cover;
    background-position: 0% 5%;
    background-repeat: no-repeat;
}

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    font-family: 'BebasKai-Regular';
    font-size: 3em;
    color: #fff;
}

.accueil a:hover::before {
    opacity: 1;
}

a:hover .hover-text {
    opacity: 1;
    filter : brightness(100%);
    color: white;
}

main.flash {
    height: fit-content;
    justify-content: baseline;
    align-items: center ;
    flex-direction: column;
}

main.flash .background:before {
    height: 290%;
    position: absolute;
}

main.flash section {
    display: flex;
    margin-top: 3em;
    width: 30%;
    height: 25em;    
}

main.flash div {
    display: flex;
    background-size: cover;
    width: 20em;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.rose {
    background-image: url("../img/flash/roseflash.png");
}

.cross {
    background-image: url("../img/flash/crossflash.png");
    background-position: 0% 45%;
}


.fbadge {
    background-image: url("../img/flash/flowerbadgeflash.png");
    background-position: 0% 45%;
}

.saucer {
    background-image: url("../img/flash/flyingsaucerflash.png");
    background-position: 0% 45%;
}

.minotor {
    background-image: url("../img/flash/minotorflash.png");
    background-position: 60% 45%;
}

.anchor {
    background-image: url("../img/flash/anchorflash.png");
    background-position: 0% 45%;
}